{% extends 'base.html.twig' %}

{% block title %}{{ todo.title }} | {{ app.user.username }}{% endblock %}
{% block body %}
    <h1>{{ todo.title }}</h1>
    <p>{{ todo.description }}</p>
    <p>Due Date: {{ todo.duedate|date('Y-m-d') }}</p>
    {% if todo.completed %}
    <p>The task is completed.</p>
    {% else %}
        <p>The task is NOT completed.</p>
    {% endif %}

    <tr>
        <td> {{ todo.file }} </td>
    </tr>
{% endblock %}